SQL 5/__Validate__XSD/__Validate__XSD/Schemas/iPhone.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ROOT">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="iPhone">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Information">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="OS" type="xs:string" use="required" />
                      <xs:attribute name="System-On-Chip" type="xs:string" use="required" />
                      <xs:attribute name="CPU" type="xs:string" use="required" />
                      <xs:attribute name="RAM" type="xs:string" use="required" />
                      <xs:attribute name="Storage" type="xs:string" use="required" />
                      <xs:attribute name="Top-Data-Speed" type="xs:string" use="required" />
                      <xs:attribute name="Battery" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="Release-Date" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="ModelID" type="xs:string" use="required" />
            <xs:attribute name="TradeName" type="xs:string" use="required" />
            <xs:attribute name="ModelName" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>